* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #0f172a; /* Fond sombre par défaut pendant le chargement */
}

#map {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.user-dot {
  width: 16px;
  height: 16px;
  background-color: #3b82f6;
  border: 3px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/* Effet organique sur le brouillard de guerre */
.fog-layer {
  filter: blur(15px); /* Tu pourras ajuster cette valeur entre 10px et 25px selon tes goûts */
  transition: d 0.5s ease; /* Bonus : rendra la dissipation plus fluide quand tu marches */
}
